body {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

#flash-container {
  margin: 30px auto;
  width: 640px;
  height: 480px;
  border: 1px solid #555;
}

input {
  margin-top: 20px;
}
